/**
 * The css for the template of the widgets/webpage
 * 
 * @author: Jordan Marling
 * 
 */

body {
	background-color: #00AA00;
}

#dashboard {
	width: 100%;
	height: 100%;
	text-align: center;
}

#loading {
	color: white;
}
